#grilla{
    display: grid ;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(220, 228, 129);
    grid-template-areas: "a1 a2 a3"
                         "a4 a5 a6"
                         "a7 a8 a9";
    justify-items: center;
    align-items: stretch;

    justify-content: space-evenly;
}

#hijo_uno{
    background-color: red;
    grid-area: a9;
    width: 80%;
    height: 20%;

}

#hijo_dos{
    background-color: rgb(0, 72, 255);
    grid-area: a5;
    width: 80%;
    height: 20%;

}

#hijo_tres{
    background-color: rgb(255, 174, 0);
    grid-area: a3;
    width: 80%;
    height: 20%;

}