#contenedor{
    height: 600px;
}

@media only screen and ( max-width:600px ){

    #contenedor{
        background-color: red;
    }

    h1{
        color: green;
        font-size: 40px;
        text-align: center;
    }

}

@media only screen and ( min-width:600px ){

    #contenedor{
        background-color: rgb(7, 23, 237);
    }

    h1{
        color: green;
        font-size: 40px;
        text-align: center;
    }

}