*{
    margin: 0;
    padding: 0;
}

#padre {
 background-color: rgb(221, 135, 208);
 height: 300px;
 width: 300px;
 margin-top:100px;
} 

#hijo_uno {
    display: inline-block;
    background-color: green;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 200px;
    
}

#hijo_dos {
    display: inline-block;
    background-color: blue;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 500px;
    right: 10px;
    left: 10px;

}

nav {
    background-color: black;
    position: sticky;
    top: 0px;

}

li {
    color: azure;
}

body {
    height: 5000px;
}