* { 
color: black;
 }

 h1 {
 color: darkorange; 
}

.titulo-h2 {
color: purple; 
}

#element-for-modify {
color: darkred; 
}

h3 p {
    color: pink;
}

h4:hover {
    color: lightgrey;
}

.teoriadelaespecificidad {
    color: pink;
}

.ejerciciodiv {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    border-style: double;
}
